/* ===== NAVBAR ===== */

.navbar-custom {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba(0,0,0,0.9);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 999;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 25px;
  color: white;
}

.nav-left h3 {
  cursor: pointer;
  font-weight: bold;
}

.nav-left span {
  cursor: pointer;
  font-size: 15px;
  opacity: 0.8;
}

.nav-left span:hover {
  opacity: 1;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.nav-right i {
  cursor: pointer;
  font-size: 20px;
}

/* SEARCH */
.search-box {
  position: relative;
}

.search-box input {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 220px;
}

/* DROPDOWN */
.search-dropdown {
  position: absolute;
  top: 40px;
  width: 220px;
  background: #222;
  border-radius: 6px;
  overflow: hidden;
}

.search-dropdown div {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.search-dropdown div:hover {
  background: #333;
}

/* THEME BUTTON */
.theme-btn {
  background: #111;
  border: 1px solid #555;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

